body {
    margin:0;
    padding:0;
}
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
#range {
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}
#leftType {
    position: absolute;
    top: 20px;
    right: 51%;
}
#rightType {
    position: absolute;
    top: 20px;
    left: 51%;
}
.leaflet-top .leaflet-control-zoom {
    margin-top: 20px;
}
